<% include ./partials/header %>

<% players.forEach(function(players){ %>
<div class="ui link cards centered">
  <div class="card">
    <div class="image">
      <img src="https://static1.squarespace.com/static/56ba5828d210b8390263bb70/t/56c4e56d5559866496ce6bd6/1455744366134/love.jpg?format=500w">
    </div>
    <div class="content">
      <div class="header"><%=players.name%></div>
      <div class="meta">
        <a href="/players/<%=players._id %>">Read More</a>
      </div>
      <div class="description">
        <%=players.nationality%>
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Grand Slams: <%=players.titles%>
      </span>
      <span>
        <i class="user icon"></i>
        <%=players.age%>
      </span>
    </div>
  </div>
</div>
<% }) %>
<% include ./partials/footer %> 